.toolbar-spacer {
  flex: 1 1 auto;
}
.generic-button {

  background-color: #9024c6;
  margin-right: 10px;
  margin-left: 10px;
}
.main-side-nav{
  width:25%;
}
.side-nav-button {
  margin-bottom:15px;
  width:100%;
}
.mat-drawer-container {
  //background-color: white;
  //color: black;
  background-color: #303030;
  color: #fff;
  height:100%;
}
.home-mat-icon-button{
  justify-content: center;
}
.center{
  padding-top:50px;
  text-align:center;
}
.footer {
  background-color: #495057;
  padding: 10px;
  text-align: start;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  color: white;
}
