<div class="login-container">
  <form>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" id="username" name="username" [(ngModel)]="userName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="password"required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="loginUser()">Login</button>
  </form>
</div>
