<mat-toolbar>
  <div class="header-div">
    <h4 class="manage-header">{{location }}</h4>
  </div>
  <span class="toolbar-spacer"></span>
  <div class="user-div">
    <button mat-raised-button color="primary" class="generic-button" *ngIf="isAuthorized" (click)="toggleEditForm()">Edit</button>
    <button mat-raised-button color="warn" class="generic-button" *ngIf="isAuthorized" (click)="openDeleteConfirmation()">Delete</button>
  </div>
</mat-toolbar>
<div class="manage-container" *ngIf="isEditing">
  <div class="manage-header-container">
    <h4 class="manage-header">Edit Renter</h4>
  </div>

  <!-- Edit form -->
  <div *ngIf="isEditing" class="form-container">
    <form [formGroup]="editForm">

      <mat-form-field class="form-field">
        <mat-label for="location">Location:</mat-label>
        <input matInput formControlName="location" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="instructions">Instructions:</mat-label>
        <input matInput formControlName="instructions" required>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" class="generic-button" type="submit" (click)="saveEdit()">Save</button>
        <button mat-button type="button" color="secondary" class="generic-button"(click)="toggleEditForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>
