.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  border: 2px solid #ccc; /*koreguoti*/
  padding: 0px;/*koreguoti*/
  margin: 0 auto; /*koreguoti*/
  max-width: 350px;
  width:100%;
}
form {
  width: 300px;
  text-align: center;
}
.form-container {
  padding-top:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-field {
  width: 80%;
  margin-bottom: 15px;
}
.order-header-container {
  text-align: left;
  background-color: #7b1fa2;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 5px;
  max-width: 330px;
  width:100%;
  height: 30px;
  color: white;
  font-family: 'Lato', 'Arial', sans-serif;
}
.button-container{
  padding-bottom:15px;
  //display: flex;
  margin-right:10px;
}

